@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);

body {
    font-family: 'Open Sans', sans-serif;
    background: #eee;
    max-width: 40em;
    margin: 0 auto;
    padding: 5px;
    font-size: 20px;
    line-height: 30px;
    color: #000;
    display: block;
}

hr {
  background:#dedede;
  border:0;
  height:1px;
}

section.title h2 {
    font-size: 3em;
}

ul {
    list-style: none;
    padding: 0;
}

.sidebar .widget {
  margin:0 0 25px;
  padding:25px;
  background:#fff;
  transition: all 0.5s ease;
  border-bottom: 2px solid #fff;
}

.sidebar .widget h2 a {
  margin: 0;
  font-size: 3em;
  color:#3498db;
  line-height: 1em;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.sidebar .widget p {
  font-size: 14px;
}

.sidebar .widget p:last-child {
  margin:0;
}


  

  
