---
layout: default 
title: Favorites 
permalink: /favorites/
---

<section id="intro">
    <p>I'm happy to share some of the books, articles, speeches, podcasts, and other materials that 
      I've learned from the most </p>
  <p>Below you can find 150+ books that I've read.</p>
  <p>I will soon update this list properly with notes, speeches, podcasts, and other materials you might find useful.</p>
  </section>
<section id="books">
  <div class="container">
  <div class="last-update">Last updated {{ site.data.reading.lastupdate }}</div>
  {% for entry in site.data.reading.list %}
  <div class="year-container">
    <div class="year">
      <h4>{{ entry.year }}</h4>
      <div class="number">{{ entry.books | size }} books</div>
    </div>
    <div class="books">
      <ul class="reading-list {{ entry.year }}">
        {% for book in entry.books %}
        <li>
            {{
            book.title
          }}
          <span class="author">by {{ book.author }}</span>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}
    </div>
  </section>
