---
layout: default
title: Home
---
<div class="message">
<form action="https://app.99inbound.com/api/e/7_jlSmDz" method="POST" target="_blank">
 <div style="position: absolute; left: -5000px;">
  <input type="checkbox" name="american_sunshine_checked_building" value="1" tabindex="-1" autocomplete="no">
</div>
  <p>If you Subscribe</p>
  <ul>
    <li>Upcoming Releases, like the FREE first Chapter of my book, <b>Hit Your STRIDE: Power Up Your Life with Tiny, Daily Improvements</b></li>
   <li>The QQA (Quote, Question, Answer), delivered weekly to your inbox.<a>more about this</a></li>
 </ul>
  <input type="text" name="name" placeholder="enter your name">
  <input type="email" name="email" placeholder="enter your email">
  <button>Submit</button>
<p>We hate spam and your info is always private, never shared</p>
</form>
</div>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}/{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

