<footer class="site-footer">
  <div class="social">
    <a class="social-link" href="https://twitter.com/joeruocco" target="_blank" rel="noopener" aria-label="Twitter / X">
      <!-- X icon (SVG) -->
      <svg viewBox="0 0 24 24" aria-hidden="true"><path d="M18.9 2H22l-6.8 7.8L23 22h-6.8l-5.3-6.7L4.9 22H2l7.3-8.4L1 2h7l4.8 6.1L18.9 2zm-1.2 18h1.7L7.2 3.9H5.4L17.7 20z"/></svg>
    </a>

    <a class="social-link" href="https://www.linkedin.com/in/josephruocco/" target="_blank" rel="noopener" aria-label="LinkedIn">
      <!-- LinkedIn icon (SVG) -->
      <svg viewBox="0 0 24 24" aria-hidden="true"><path d="M4.98 3.5C4.98 4.88 3.87 6 2.5 6S0 4.88 0 3.5 1.12 1 2.5 1s2.48 1.12 2.48 2.5zM0.5 23.5h4V7.98h-4V23.5zM8.5 7.98h3.83v2.12h.05c.53-1 1.83-2.12 3.77-2.12 4.03 0 4.78 2.65 4.78 6.1v9.42h-4v-8.35c0-1.99-.04-4.56-2.78-4.56-2.78 0-3.2 2.17-3.2 4.41v8.5h-4V7.98z"/></svg>
    </a>

    <a class="social-link" href="https://josephruocco.tumblr.com" target="_blank" rel="noopener" aria-label="Tumblr">
      <!-- Tumblr icon (SVG) -->
      <svg viewBox="0 0 24 24" aria-hidden="true"><path d="M14 22c-3.3 0-5-2.2-5-5.4V11H6V8.2c2.6-.9 4.1-3 4.5-6.2H13v6h4.7V11H13v4.9c0 1.7.6 2.4 2 2.4.8 0 1.6-.2 2.2-.5V21c-.9.7-2.1 1-3.2 1z"/></svg>
    </a>
  </div>

  <div class="copyright">© {{ "now" | date: "%Y" }} {{ site.title }}.</div>
</footer>
