<!DOCTYPEhtml>

<html class="windows x86 no-js" lang="en" dir="ltr" data-latest-firefox="59.0.2" data-esr-versions="52.7.3" data-optimizely-project-id="246059135" data-gtm-container-id="GTM-MW3R8V" data-gtm-page-id="Homepage" data-stub-attribution-rate="1.0">
    <head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title>{{ page.title }}</title> 
	<meta name="description" content="Joseph Ruocco">
	<meta name="author" content="Joseph Ruocco">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Personal Portfolio.">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="Joseph Ruocco">
	<meta property="og:locale" content="en_US">
	<meta property="og:url" content="https://www.josephruoc.co/">
	<meta property="og:title" content="Personal Website of Joseph Ruocco.">
	<meta property="og:description" content="Personal Website of Joseph Ruocco.">
    </head>
 	  <body>
		{{ content }}  
	   </body>
</html>
