<!DOCTYPEhtml>

<html class="windows x86 no-js" lang="en" dir="ltr" data-latest-firefox="59.0.2" data-esr-versions="52.7.3" data-optimizely-project-id="246059135" data-gtm-container-id="GTM-MW3R8V" data-gtm-page-id="Homepage" data-stub-attribution-rate="1.0">
    <head>
	<meta charset="utf-8">
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"> </script>
	
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="myScript.js"></script>

	<title>{{ page.title }}}}</title> 
	
	<meta name="description" content="Joseph Ruocco">
	<meta name="author" content="Joseph Ruocco">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<meta name="description" content="
		    Personal Portfolio. 
		    ">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="Joseph Ruocco">
	<meta property="og:locale" content="en_US">
	<meta property="og:url" content="https://www.josephruoc.co/">
	<meta property="og:title" content="
			Sifting through ideas. Finding the people that matter.  
			">
	<meta property="og:description" content="
			The blog of Joseph Ruocco. 
			">

    </head>

    <header class="header">
	<ul>
	    <li class="cor-1"></li>
	    <li class="cor-2"></li>
	    <li class="cor-3"></li>
	    <li class="cor-4"></li>
	    <li class="cor-5"></li>
	</ul>
    </header>
    <div class="wrap">
	
	<div class="menu">
	    <!-- Static navbar -->
	    <nav class="navbar navbar-default" style = "background: #1abc9c; color:white">
		<div class="container-fluid">
		    <div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			    <span class="sr-only">Toggle navigation</span>
			    <span class="icon-bar top-bar"></span>
			    <span class="icon-bar middle-bar"></span>
			    <span class="icon-bar bottom-bar"></span>
			</button>
			<a class="navbar-brand" href="./">Joseph Ruoc.co</a>
		    </div>
		    <div id="navbar" class="navbar-collapse collapse" >
			<ul class="nav navbar-nav">
			    <li><a href="#">About</a></li>
			    <li><a href="#">Contact</a></li>
			    <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Work <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
				    <li><a href="#">Skills At A Glance</a></li>
				    <li><a href="#">Highlighted Projects</a></li>
				    <li><a href="#"></a>Writing</li>
				    
				</ul>
			    </li>
			</ul>
			
		    </div><!--/.nav-collapse -->
		</div><!--/.container-fluid -->
	    </nav>

	    <div class="container">
		
		{{ content }}
		
	    </div><!-- /.container -->
